/* Inserta tu codigo que es común para todas las páginas aqui */
a{
  text-decoration: none;
  color: #AFABAB;
}

.bg-white{
	background-color: white;
}

p{
	font-size: 0.7em;
}

.container-fluid{
	width: 100%;
}

/*header*/

.cont-header{
   padding: 2% 5%;
    
}

nav{
	height: auto;
	padding-top: 3%;
	overflow: hidden;
	text-align: center;
	width: 100%;
}

nav ul{
float: left;
list-style-type: none;
padding: 0px;
position: relative;
left: 50%

}


nav li{
float:left;
position: relative;
right: 50%


}

nav li:hover a{
background-color: pink;
}

nav li a{
	padding: 0 17%;
	text-decoration: none;
    color:black;
}


/*contactanos inputs*/

.bgund-white{
	background-color: white;
	
	background-size: contain;
    background-position-x: 91%;
}



.contactanos{
    width: 61%;
    display: inline-block;
    padding: 3% 11%;

	}
.contactanos h1{
	padding-bottom: 6%;
}

.imputs{
	background-image: url(../img/shoes_1.jpg);
}

.input-control{
    width: 517px;
    padding: 2%;
    border: 1px solid lightblue;
    margin: 2% 0%;
    border-radius: 10px;
    background-color: transparent;
} 

.big{
	padding-bottom: 21%;

}  

.buttom-ENVIAR{
    background-color: rgb(25, 41, 82);
    padding:27px 226px;
    display: inline-block;
    font-size: 0.9em;
    border-radius: 9px;
    margin-top: 9px;
}

.footer{
	background-color:rgb(25, 41, 82);
	padding: 2% 2%;
	color: #AFABAB;
}


